body{
    background-image: url('https://goodwall.ru/image/picture/447-2560x1440-e5ad8c0cc5f3bbb9c61072837ed98907f95e6cf6.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column ;
    padding-top: 180px;
    padding-left: 250px;
    padding-right: 250px;
}
form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
}
table{
  background-color: rgba(240, 248, 255, 0.479);
  border-style: solid;
  border-radius: 25px;
  border-color: black;
  padding: 5px;
  margin: 0 auto;

  
}





.right{
  background-image: url('https://www.itl.cat/pics/b/28/286022_pepe-wallpaper.jpg');
  background-size: cover;
  width: 200px;
  height: 150px;
  display: inline;
}

.mid{
  background-image: url('https://ramki-photoshop.ru/fony/fon-220.jpg');
  background-size: cover;
  width: 200px;
  height: 150px;
  display: inline;
}

.left{
  background-image: url('https://bgfons.com/upload/ornaments_texture1130.jpg');
  background-size: cover;
  width: 200px;
  height: 150px;
  display: inline;
}

th{
  border-style: solid;
  border-radius: 25px;
  border-color: black;
  border-width: 3px;
}
td{
  border-style: solid;
  border-radius: 25px;
  border-color: black;
  border-width: 1px;
}
p{
    font-family: 'Dosis', sans;
    font-size: 20pt;
    font-weight:200;
    color:#000;
    background-color: rgba(240, 248, 255, 0.39);
    border-radius: 20px;
    padding: 10px;
    width: 400px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 15px;
}
label{
  font-family: 'Dosis', sans;
  width: 100px;
    font-size: 20pt;
    font-weight:200;
    color:#000;
    background-color: rgba(240, 248, 255, 0.39);
    border-radius: 20px;
    padding: 10px;
}

.lebel{
  font-family: 'Dosis', sans;
  width: 300px;
    font-size: 20pt;
    font-weight:200;
    color:#000;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 20px;
    padding: 10px;
}

a.botr{
    background:rgb(201, 235, 201);
    width:505px;
    display:block;
    height:55px;
    padding-top:19px;
    border:1px solid #000;
     margin: 20px auto;
     border-radius: 25px;
    font-family: 'Dosis', sans;
    font-size: 25px;
    font-weight:200;
    color:#000;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    opacity:.8;
    letter-spacing: 1px;
      -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
       -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
          transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
  }
  
  a.botr:hover{
    width:505px;
    height:55px;
    padding-top:19px;
    border:1px solid teal;
    border-radius: 25px;
    margin: 20px auto;
    opacity:1;
    letter-spacing: 4px;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
     -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
       -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
          transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
  }

  .textbox{
height: 60px;

  }